*{
    margin: 0px;
    padding: 0px;
}
.left img{
    width: 150px;
    height: 100px;
}
.firstnav{
    display: flex;
}
.left{
    padding-left: 100px;
    display: flex;
    justify-content: left;
}
.right{
    padding-top: 30px;
    padding-left: 500px;
    gap: 20px;
}
.right select{
    border: none;
    outline: none;
    gap: 20px;
}
.right button{
    gap: 30px;
    width: 120px;
    height: 30px;
    background-color: rgb(234, 82, 82);
    color: white;
}
.right img{
    width: 30px;
    height: 20px;
}
.main{
   width: 100vw;
   height: 100px;
   
}
.box{
    padding-top: 30px;
}
.left input{
    padding-top: 10px;
    width: 500px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    text-align: center;
    
}
.left input::placeholder{
    font-size: large;
}
.nav{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    gap: 30px;
    background-color: rgba(230, 230, 230, 0.505);
   
}
.nav-left{
    padding-top: 15px;
    padding-left: 100px;
}
.nav-right{
    padding-top: 15px;
    padding-left: 500px;
}
.nav-left a{
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    margin-left: 20px;
    text-decoration: none;
    
}
.nav-right a{
    color: rgb(13, 13, 13);
    outline: none;
    border: none;
    margin-left: 20px;
    text-decoration: none;
  
}
.first-card{
    background-color:  rgb(179, 179, 179);
    text-align: center;
    width: 100%;
}
.first-card img{
    border-radius: 10px;
}

.recomended{
    display: flex;
    padding-top: 30px;
    background-color: white;
    width: 100%;

    
}
.recomended p{
    padding-left: 150px;
    font-size: xx-large;
}
.recomended a{
    padding-left: 900px;
    font-size: large;
    color: red;
    text-decoration: none;
}
.movies1{
    /* padding-left: 150px; 
     width: 100%; */

}
.movies1 img{
      width: 250px;
      height: 400px;
      border-radius: 10px;
}
.recomended-movies{
    gap: 30px;
    
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(5,250px);
    justify-content: center;
    
}
.movies1 p{
 padding-left: 30px;
}
.movies1 h6{
    font-size: large;
    
}
.long-img{
    padding-top: 30px;
    text-align: center;
    

}
.long-img img{
   width: 1250px;
   height: 100px;
   
}
.events-p{
    font-size: x-large;
    font-weight: bold;
    /* padding-left: 140px; */
    padding-top: 80px;
}
.live-events{
    width: 100%;
    padding-top: 10px;
   display: grid;
    grid-template-columns: repeat(5,250px);
    padding-bottom: 60px;
    
    
}
.events img{
    width: 230px;
    height: 200px;
    
}
.events{
    padding-left: 150px;
}
.premieres{
    background-color: rgba(45,48,76);
    width: 100%;
    color: white;
    
    
}
.premieres img{
    /* width: 700px;
    height: 100px; */
    padding-left: 80px;
    
    
}
.premieres-text h5{
    padding-top: 50px;
    padding-left: 100px;
}
.premieres-text h5{
    font-size: x-large;
    text-transform: capitalize;
}
.premieres-text p,a{
    display: inline;
    
}
.premieres-text p{
    padding-left: 100px;
    
}
.premieres-text a{
    color: red;
    text-decoration: none;
    padding-left: 1000px;
}
.premiere-shows{
    /* padding-top: 30px; */
  display: grid;
  grid-template-columns: repeat(5,250px);
   width: 100%;
   gap: 30px;
   /* padding-left: 30px; */

}
.p-shows h2,p{
    padding-left: 80px;
}
.p-shows img{
   width: 250px;
    height: 400px;
      border-radius: 10px;
}
.music-studio{
    width: 100%;
    padding-top: 30px;
}
.music-studio h3{
    
    font-size: x-large;
    color: rgb(0, 0, 0);
    padding-left: 80px;
    display: inline;
}
.music{
     display: grid;
  grid-template-columns: repeat(5,250px);
   width: 100%;
   justify-content: center;
   gap: 30px;
   padding-top: 10px;
}
.m-cards img{
     width: 250px;
    height: 400px;
      border-radius: 10px;
}
.m-cards p{
    padding-top: 10px;
    padding-left: 0px;
    font-size: medium;
    
}
.m-cards h3{
    padding-top: 10px;
    padding-left: 0px;
    font-size: large;
}
.music-studio a{
    color: red;
    text-decoration: none;
    display: inline;
    padding-left: 1350px;
}
.outdoor-events{
    width: 100%;
    background-color: rgba(223, 223, 223, 0.701);
    padding-top: 80px;
    
}
.outdoor-events h3{
    display: inline;
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
    

}
.outdoor-events a{
    display: inline;
    color: red;
    padding-left: 1350px;
}
.outdoor{
    display: grid;
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.out-events img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
    
}
.out-events h3{
    font-size: large;
    padding-left: 0px;
}
.out-events p{
    padding-left: 0px;
    padding-top: 10px;
    font-size: medium;
}
.laughter{
  width: 100%;
     padding-top: 80px;
}
.laughter h3{
    display: inline;
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}
.laughter a{
    display: inline;
    color: red;
    padding-left: 1350px;
}
.laugh-card{
    display: grid;
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.laugh img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.laugh h3{
     font-size: large;
    padding-left: 0px;
}
.laugh p{
    padding-left: 0px;
    padding-top: 10px;
    font-size: medium;
}
.popular{
  width: 100%;
     padding-top: 80px;
}
.popular h3{
    display: inline;
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}
.popular a{
    display: inline;
    color: red;
    padding-left: 1350px;
}
.Popular-card{
    display: grid;
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.p-events img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.p-events h3{
     font-size: large;
    padding-left: 0px;
}
.p-events p{
    padding-left: 0px;
    padding-top: 10px;
    font-size: medium;
}
.latest-plays{
  width: 100%;
     padding-top: 80px;
}
.latest-plays h3{
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}

.latest-card{
    display: grid;
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.plays img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.plays h3{
     font-size: large;
    padding-left: 0px;
}
.plays p{
    padding-left: 0px;
    padding-top: 10px;
    font-size: medium;
}
.games{
  width: 100%;
     padding-top: 80px;
}
.games h3{
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}
.games a{
     display: inline;
    color: red;
    padding-left: 1350px;
}

.games-card{
    display: grid;
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.sports img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.sports h3{
     font-size: large;
    padding-left: 0px;
}
.sports p{
    padding-left: 0px;
    padding-top: 10px;
    font-size: medium;
}
.fun-activities{
  width: 100%;
     padding-top: 80px;
}
.fun-activities h3{
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}
.fun-activities a{
     display: inline;
    color: red;
    padding-left: 1350px;
}

.fun-card{
    display: grid;
    grid-template-columns: repeat(5,250px);
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}
.fun img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.fun h3{
     font-size: large;
    padding-left: 0px;
}
.fun p{
    padding-left: 0px;
    padding-top: 10px;
    font-size: medium;
    padding-bottom: 10px;
}
.trending{
    width: 100%;
    
}
.trending h3{
    padding-top: 30px;
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}
.first-search{
    width: 80vw;
       display: flex;
       gap: 20px;
       padding-left: 80px;
       
}
.second-search{
     width: 80vw;
       display: flex;
       padding-top: 20px;
       padding-left: 80px;
       gap: 20px;
       padding-bottom: 30px;
}

.search-cards button{
     background: none;
    border: 1px solid rgb(230, 229, 229);
    padding: 10px 20px 10px 10px;
    
}
.search-cards p{
    padding-top: 10px;
    padding-left: 10px;
}
.search-cards a{
    color: red;
    text-decoration: none;
    font-size: larger;
    
}
.white{
    background-color: rgb(205, 201, 201);
    width: 100%;
    height: 30px;
}
.contact{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(39, 36, 36);
    color: white;
    justify-content: left;
    padding-top: 10px;
}
.contact img{
    width: 30px;
    height: 50px;
    padding-left: 80px;
}

.contact h5,p{
    padding-top: 20px;
    font-size: large;
}
.contact p{
    padding-left: 30px;
    }
.contact-btn button{
    width: 150px;
    height: 40px;
    background-color: rgb(233, 52, 52);
    
}
.contact-btn a{
    color: white;
    font-size: larger;
    text-decoration: none;
}
.contact-btn{
    padding-top: 10px;
    padding-left: 200px;
}
.image-cust p{
   text-transform: uppercase;
   font-size: smaller;
   padding-left: 10px;
}
.image-cust{
    width: 100%;
    height: 100px;
    background-color: rgb(102, 100, 100);
    display: flex;
    color: rgb(212, 212, 212);
    
}
.image-cust img{
    width: 50px;
    height: 50px;
    
}
.news-letter{
 padding-left: 100px;
 padding-top: 10px;
}
.news-letter img{
    padding-left: 100px;
}
.ticket{
    padding-left: 150px;
    padding-top: 10px;
}
.ticket img{
    padding-left: 100px;
}
.cust-care{
    padding-left: 300px;
    padding-top: 10px;
}
.cust-care img{
    padding-left: 60px;
}
.last{
    width: 100%;
    background-color: rgb(39, 36, 36);
}
.one h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.one-p{
    padding-top: 20px;
    padding-left: 100px;
}
.one-p h5{
    padding-left: 0px;
}
.one-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.one-p p:hover{
    color: white;
}
.two h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.two-p{
    padding-top: 20px;
    padding-left: 100px;
}
.two-p h5{
    padding-left: 0px;
}
.two-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.two-p p:hover{
    color: white;
}
.three h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.three-p{
    padding-top: 20px;
    padding-left: 100px;
}
.three-p h5{
    padding-left: 0px;
}
.three-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.three-p p:hover{
    color: white;
}
.four h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.four-p{
    padding-top: 20px;
    padding-left: 100px;
}
.four-p h5{
    padding-left: 0px;
}
.four-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.four-p p:hover{
    color: white;
}
.five h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.five-p{
    padding-top: 20px;
    padding-left: 100px;
}
.five-p h5{
    padding-left: 0px;
}
.five-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.five-p p:hover{
    color: white;
}
.six h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.six-p{
    padding-top: 20px;
    padding-left: 100px;
}
.six-p h5{
    padding-left: 0px;
}
.six-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.six-p p:hover{
    color: white;
}
.seven h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.seven-p{
    padding-top: 20px;
    padding-left: 100px;
}
.seven-p h5{
    padding-left: 0px;
}
.seven-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.seven-p p:hover{
    color: white;
}
.eight h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.eight-p{
    padding-top: 20px;
    padding-left: 100px;
}
.eight-p h5{
    padding-left: 0px;
}
.eight-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.eight-p p:hover{
    color: white;
}
.nine h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.nine-p{
    padding-top: 20px;
    padding-left: 100px;
}
.nine-p h5{
    padding-left: 0px;
}
.nine-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.nine-p p:hover{
    color: white;
}
.ten h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.ten-p{
    padding-top: 20px;
    padding-left: 100px;
}
.ten-p h5{
    padding-left: 0px;
}
.ten-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.ten-p p:hover{
    color: white;
}
.eleven h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.eleven-p{
    padding-top: 20px;
    padding-left: 100px;
}
.eleven-p h5{
    padding-left: 0px;
}
.eleven-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.eleven-p p:hover{
    color: white;
}
.twelve h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.twelve-p{
    padding-top: 20px;
    padding-left: 100px;
}
.twelve-p h5{
    padding-left: 0px;
}
.twelve-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.twelve-p p:hover{
    color: white;
}
.thirteen h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.thirteen-p{
    padding-top: 20px;
    padding-left: 100px;
}
.thirteen-p h5{
    padding-left: 0px;
}
.thirteen-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
   color: rgb(120, 120, 121);

}
.thirteen-p p:hover{
    color: white;
}
.fourteen h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.fourteen-p{
    padding-top: 20px;
    padding-left: 100px;
}
.fourteen-p h5{
    padding-left: 0px;
}
.fourteen-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.fourteen-p p:hover{
    color: white;
}
.fifteen h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.fifteen-p{
    padding-top: 20px;
    padding-left: 100px;
}
.fifteen-p h5{
    padding-left: 0px;
}
.fifteen-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.fifteen-p p:hover{
    color: white;
}
.sixteen h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.sixteen-p{
    padding-top: 20px;
    padding-left: 100px;
}
.sixteen-p h5{
    padding-left: 0px;
}
.sixteen-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.sixteen-p p:hover{
    color: white;
}
.seventeen h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.seventeen-p{
    padding-top: 20px;
    padding-left: 100px;
}
.seventeen-p h5{
    padding-left: 0px;
}
.seventeen-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.seventeen-p p:hover{
    color: white;
}
.eighteen h5{
  color: rgb(185, 184, 184);
  padding-top: 50px;
  padding-left: 100px;
}
.eighteen-p{
    padding-top: 20px;
    padding-left: 100px;
}
.eighteen-p h5{
    padding-left: 0px;
}
.eighteen-p p{   
    
    display: inline;
    font-size: 14px;
    justify-content: left;
    padding-left: 0px;
    color: rgb(120, 120, 121);

}
.eighteen-p p:hover{
    color: white;
}
.linee{
    padding-top: 100px;
    display: flex;
    
   
    
}
.linee img{
    position: relative;
    top: -20px;
   
    
}
.para-last p{
    padding-top: 00px;
    text-align: center;
    color: rgb(185, 184, 184);
    font-size: medium;
}
.line-1{
    border: 1px solid black;
    height: 0px;
    width: 700px;

}
.line-2{
    border: 1px solid black;
    height: 0px;
    width: 700px;

}
.media img{
    width: 40px;
    height: 30px;
    border-radius: 180%;
    padding-left: 0px;
    
}
.media{
    padding-top: 100px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}
.media img:hover{
    background-color:  rgb(120, 120, 121);
}






